body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image:url(https://cdn.shopify.com/s/files/1/0276/1267/6167/products/adwinter-01_1200x1200.png?v=1600302636);
}


section{
    background-color: white;
    opacity: 75%;
    width:600px;
    height:500px;
    border: dashed 5px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
}


.labelToClear {
    font-size: 50px;
}